<h1>Movies</h1>

<ul>
<% @movies.each do |movie| %>
  <li><strong><%= movie.title %></strong>
    (<%= movie.rating%>) <%= total_gross movie %>
     </li>
    <p><%= year_of movie %></p>
    <p><%= movie.description.truncate 10, separator: ' ' if !movie.description.nil? %></p>
<% end %>
</ul>
